.movies,
.showings {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--secondary-background-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.title {
    width: 250px;
    font-weight: bold;
}

.time {
    width: 180px;
}

.actions {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.actions button {
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-accent);
}

.actions button:hover {
    background-color: var(--primary-accent);
    color: white;
}

button {
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-accent);
    font-weight: bold;
}

button:hover {
    background-color: var(--primary-accent);
    color: white;
}