* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: var(--primary-background-color);
    padding: 10px 0;
    top: 60px; /* Adjust based on header height */
    width: 100%;
}
nav a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--primary-accent);
    padding: 10px 20px;
    text-decoration: none;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--secondary-accent);
}

nav a.active {
    background-color: var(--secondary-accent);
}

footer {
    padding: 20px;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

h2 {
    color: var(--primary-accent);
}

h3 {
    color: var(--primary-accent);
}


.movie-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.highlight {
    font-weight: bold;
    color: var(--secondary-accent);
}

:root {
    --primary-background-color: #1A1A1B;
    --secondary-background-color: #2F3E46;
    --primary-accent: #D36746;
    --secondary-accent: #F4A261;
    --text-color: #FAF9F6;
}

.day-selector {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.day-selector button {
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    cursor: pointer;
}

.day-selector button.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.movie-container {
    display: flex;
    align-items: flex-start; /* tekst og billede starter fra toppen */
    gap: 20px; /* afstand mellem billede og tekst */
    margin-bottom: 40px;
}

.movie-image {
    flex: 0 0 40%; /* billede fylder 40% af containeren */
}

.movie-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie-info {
    flex: 1; /* fylder resten af pladsen */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.showings {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.showings a {
    text-decoration: none;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    color: #333;
}

.showings a:hover {
    background-color: #ccc;
}
